<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.walke.mianshi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".HomeActivity"/>-->

        <!-- https://www.jianshu.com/p/95ec2a23f300  Service 注册属性(常用)
          name：唯一必要属性
          exported：能否被其他应用调用；默认为false，当有过滤器intent filters，默认为true
          enabled：设置是否可以由系统来实例化服务
          permission：自定义权限(设定组件必须具有的权限),若设置了，没权限则无法访问该Service
          process：用来运行服务的进程的名称。通常，应用程序的所有组件都运行在应用程序创建的默认进程中，它与应用程序包名具有相同的名称
          description：对服务进行描述，属性值应为对字符串资源的引用
         -->
        <service
            android:name=".services.SimpleServices"
            android:description="@string/desc_TestServices"
            android:exported="false"></service>
        <service
            android:name=".services.BindServices"
            android:description="@string/desc_TestServices"
            android:exported="false"></service>

    </application>

</manifest>